@tailwind base;
@tailwind components;
@tailwind utilities;

.petal {
    position: absolute;
    width: 30px;
    height: 60px;
    background-color: transparent;
  }
  
  .petal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFA800; 
    border-radius: 10px 130px 30px 130px;
    transform: rotate(45deg);
  }