@tailwind base;
@tailwind components;
@tailwind utilities;


.petal {
    position: absolute;
    width: 60px;
    height: 60px;
    
}
  
  .petal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffaa00; 
    border-radius:100% 0;
    transform: rotate(45deg);
  }


  @media (max-width: 768px) {
  .petal {
    width: 30px;
    height: 30px;
  }
}